[package]
name = "filen-sdk-rs"
version = "0.1.0"
edition = "2024"

[features]
default = []
tokio = ["tokio/rt", "tokio-stream", "tokio-util"]
heic = ["dep:heic-decoder"]

[dependencies]
reqwest = { version = "0.12.15", features = ["json", "stream", "rustls-tls"], default-features = false}


filen-types = { path = "../filen-types" }
heic-decoder = { path = "../heic-decoder", optional = true}
rand = "0.9.0"
old_rng = {package = "rand", version="0.8.5"} # for compatibility with rsa 0.9.8
aes-gcm = { version = "0.10.3", features = ["std"] }
generic-array = "1.2.0"
thiserror = "2.0.12"
base64 = "0.22.1"
pbkdf2 = { version = "0.12.2", features = ["std", "sha2"] }
sha2 = "0.10.8"
rsa = "0.9.8"
hkdf = { version = "0.12.4", features = ["std"] }
hmac = { version = "0.12.1", features = ["std"] }
uuid = { version = "1.16.0", default-features = false}
chrono = { version = "0.4.40", features = ["serde"] }
digest = "0.10.7"
serde = "1.0.219"
serde_json = "1.0.140"
faster-hex = { version = "0.10.0", features = ["serde"] }
argon2 = { version = "0.5.3", features = ["std"] }
serde_path_to_error = "0.1.17"
sha1 = "0.10.6"
futures = "0.3.31"
mime_guess = "2.0.5"
futures-timer = "3.0.3"
md2 = "0.10.2"
md4 = "0.10.2"
md-5 = "0.10.6"
cbc = "0.1.2"
image = {version = "0.25.6", default-features = false, features = ["png", "jpeg", "gif", "tiff", "webp", "qoi", "avif"] }
tokio = { version = "1.44.2", default-features = false, features = ["sync"] }
tokio-stream = {version = "0.1.17", default-features = false, features = ["fs"], optional = true}
tokio-util = { version = "0.7.15", default-features = false, features = ["compat"], optional = true}
bytes = "1.10.1"
log = "0.4.27"



[dev-dependencies]
dotenv = "0.15.0"
tokio = { version = "1.44.2", features = ["full"] }
test-utils = {path = "../test-utils"}
filen-sdk-rs-macros = { path = "../filen-sdk-rs-macros" }
