name: Continuous Integration
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
jobs:
  ci-linux:
    # also runs clippy on tests, does TOML linting and runs rustfmt
    runs-on: ubuntu-latest
    name: CI on ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          components: clippy,rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ''
          shared-key: cargo-build-ci-${{ matrix.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Install C++ Build Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake clang libc++-dev libc++abi-dev
      - name: Install dependencies for avif-decoder
        run: |
          sudo apt-get install -y libdav1d-dev pkg-config
      - name: Run clippy all features
        run: cargo clippy --all-features -- -D warnings
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run clippy on tests
        run: cargo clippy --tests -- -D warnings
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Install TOML linter
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: taplo-cli@0.10.0
      - name: Run TOML linter and formatter
        run: |
          taplo lint
          taplo fmt --check

  ci-windows:
    runs-on: windows-latest
    name: CI on windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          components: clippy,rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ''
          shared-key: cargo-build-ci-${{ matrix.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Install dependencies for avif-decoder
        run: |
          git clone https://github.com/Microsoft/vcpkg.git C:\vcpkg
          C:\vcpkg\bootstrap-vcpkg.bat -disableMetrics
          choco install pkgconfiglite --allow-empty-checksums
          vcpkg install dav1d:x64-windows
          echo "PKG_CONFIG_PATH=C:\vcpkg\installed\x64-windows\lib\pkgconfig;$env:PKG_CONFIG_PATH" >> $env:GITHUB_ENV
      - name: Run clippy all features
        run: cargo clippy --all-features -- -D warnings
      - name: Run clippy
        run: cargo clippy -- -D warnings

  ci-macos:
    # also runs iOS and Android clippy
    runs-on: macos-latest
    name: CI on macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          components: clippy,rustfmt
          targets: aarch64-apple-ios,aarch64-linux-android
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ''
          shared-key: cargo-build-ci-macos-latest
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Setup Android SDK
        uses: amyu/setup-android@v4
        with:
          sdk-version: 36
          build-tools-version: 35.0.0
          cmake-version: 3.10.2.4988404
          ndk-version: 27.0.12077973
      - uses: taiki-e/cache-cargo-install-action@v2
        with:
          # Can't use the latest version until https://github.com/bbqsrc/cargo-ndk/issues/181 is fixed
          tool: cargo-ndk@3.5.4
      - name: Install dependencies for avif-decoder
        run: |
          brew install dav1d pkg-config
      - name: Run clippy Android
        run: cargo ndk --target aarch64-linux-android clippy -F malformed,heif-decoder -- -D warnings
      - name: Run clippy all features
        run: cargo clippy --all-features -- -D warnings
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run clippy iOS
        run: cargo clippy --target aarch64-apple-ios -F malformed,heif-decoder -- -D warnings

  ci-wasm:
    runs-on: ubuntu-latest
    name: CI on wasm
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          components: clippy,rustfmt
          targets: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ''
          shared-key: cargo-build-ci-wasm
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Run clippy
        run: cargo clippy --target wasm32-unknown-unknown -- -D warnings
        working-directory: ./filen-sdk-rs
      - name: Run rustfmt in filen-wasm
        run: cargo fmt -- --check
        working-directory: ./filen-sdk-rs
