name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    strategy:
      matrix:
        # We still need to run CI on all OSes
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: CI on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          components: clippy,rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ''
          shared-key: cargo-build-ci-${{ matrix.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Install C++ Build Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake clang libc++-dev libc++abi-dev
      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings
  ci-macos:
    runs-on: macos-latest
    name: CI on macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          components: clippy,rustfmt
          targets: aarch64-apple-ios,aarch64-linux-android
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ''
          shared-key: cargo-build-ci-macos-latest
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Setup Android SDK
        uses: amyu/setup-android@v4
        with:
          sdk-version: 36
          build-tools-version: 35.0.0
          cmake-version: 3.10.2.4988404
          ndk-version: 27.0.12077973
      - uses: taiki-e/cache-cargo-install-action@v2
        with:
          # Can't use the latest version until https://github.com/bbqsrc/cargo-ndk/issues/181 is fixed
          tool: cargo-ndk@3.5.4
      - name: Run clippy Android
        run: cargo ndk --target aarch64-linux-android clippy --all-features -- -D warnings
      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings
      - name: Run clippy iOS
        run: cargo clippy --target aarch64-apple-ios --all-features -- -D warnings
      - name: Run rustfmt
        run: cargo fmt --all -- --check
