name: Release Filen CLI

# This workflow is used to create releases of filen-cli.
# To create a new release, create a commit with a message including "release filen-cli vX.Y.Z".
# Make sure that the version in filen-cli/Cargo.toml matches and
# that a corresponding changelog entry is found in filen-cli/CHANGELOG.md.
# A tag will be created like "filen-cli@vX.Y.Z" and a GitHub Release (prerelease) will be created in the release repository.
# The filen-cli/README.md will be pushed to the release repository,
# as well as to the documentation repository along with the generated markdown docs.

permissions:
  contents: write

on:
  push:
    branches: ["*"]

jobs:
  tag:
    if: contains(github.event.head_commit.message, 'release filen-cli')
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract-version.outputs.version }}
    steps:
      - uses: actions/checkout@v5

      # create tag
      - name: Create Tag
        uses: christophebedard/tag-version-commit@v1
        id: create-tag
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version_regex: "release filen-cli v([0-9]+\\.[0-9]+\\.[0-9]+)"
          version_assertion_command: 'grep -q "version = \"$version\"" filen-cli/Cargo.toml'
          version_tag_prefix: "filen-cli@v"
      - name: Fail if no tag was created
        if: steps.create-tag.outputs.tag == ''
        run: |
          echo "No tag was created. Failing the job."
          exit 1
      - name: Extract version from tag name
        id: extract-version
        run: |
          TAG="${{ steps.create-tag.outputs.tag }}"
          echo "version=${TAG#filen-cli@v}" >> $GITHUB_OUTPUT

  # adapted from https://github.com/nicolas-van/rust-cross-compile-example/blob/main/.github/workflows/rust.yml
  build-binaries:
    needs: tag
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            command: cross
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            command: cross
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            command: cross
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            command: cross
          - target: x86_64-apple-darwin
            os: macos-latest
            command: cargo
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            command: cargo
    runs-on: ${{ matrix.os }}
    env:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}
      version: ${{ needs.tag.outputs.version }}
    defaults:
      run:
        shell: bash # on windows too
    steps:
      - uses: actions/checkout@v5
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-08-14
          targets: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ""
          shared-key: cargo-build-release-cli
          save-if: ${{ github.ref == 'refs/heads/main' }}
      # note: I'm not sure if all these extra build dependencies are actually required, but it's not worth figuring it out right now
      - name: Install and configure dependencies
        run: |
          # dependencies are only needed on ubuntu as that's the only place where
          # we make cross-compilation
          if [[ $os =~ ^ubuntu.*$ ]]; then
            sudo apt-get update
            sudo apt-get install crossbuild-essential-arm64 crossbuild-essential-armhf
          fi
          # some additional configuration for cross-compilation on linux
          cat >>~/.cargo/config <<EOF
          [target.aarch64-unknown-linux-gnu]
          linker = "aarch64-linux-gnu-gcc"
          [target.aarch64-unknown-linux-musl]
          linker = "aarch64-linux-gnu-gcc"
          EOF
      - name: Install C++ build dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake clang libc++-dev libc++abi-dev
          sudo apt-get install musl-tools
      - name: Install rust target
        run: rustup target add $target
      - name: Install Cross
        if: matrix.command == 'cross'
        shell: bash
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
          cargo binstall --no-confirm cross
      - name: Run build
        run: ${{ matrix.command }} build --release --verbose --locked --target $target
        working-directory: ./filen-cli
      - name: List target
        run: find ./target
      - name: Prepare artifact
        run: |
          mkdir -p ./artifact
          if [[ $os =~ ^windows.*$ ]]; then
            cp ./target/$target/release/filen-cli.exe ./artifact/filen-cli-$version-$target.exe
          else
            cp ./target/$target/release/filen-cli ./artifact/filen-cli-$version-$target
            chmod +x ./artifact/filen-cli-$version-$target
          fi
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.target }}
          path: ./artifact/*

  release:
    needs: ["tag", "build-binaries"]
    runs-on: ubuntu-latest
    env:
      version: ${{ needs.tag.outputs.version }}
    steps:
      - uses: actions/checkout@v5

      # generate release notes
      - name: Install parse-changelog
        uses: taiki-e/install-action@parse-changelog
      - name: Generate release notes from changelog
        run: |
          printf "## $(parse-changelog filen-cli/CHANGELOG.md $version --title)\n\n$(parse-changelog filen-cli/CHANGELOG.md $version)" > filen-cli/release_notes.md
          echo filen-cli/release_notes.md

      # modify readme
      - name: Insert version into Readme
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require("fs");
            let readme = fs.readFileSync("filen-cli/README.md", "utf8");
            console.log("Original Readme:\n" + readme);
            readme = `${readme}\n\n<!-- v${process.env.version} -->`;
            console.log("\n\nModified Readme:\n" + readme);
            fs.writeFileSync("filen-cli/README.md", readme);
      - name: Insert version footer into Readme for docs
        uses: actions/github-script@v8
        with:
          script: |
            const fs = require("fs");
            let readme = fs.readFileSync("filen-cli/README.md", "utf8");
            console.log("Original Readme:\n" + readme);
            readme = `${readme}\n\n<small style={{opacity: 0.5}}>Documentation for Filen CLI **v${process.env.version}**</small>`;
            console.log("\n\nModified Readme:\n" + readme);
            fs.writeFileSync("filen-cli/README-for-docs.md", readme);

      # generate markdown docs
      - name: Generate markdown docs
        run: cargo run -- --export-markdown-docs exit
        working-directory: ./filen-cli
      - name: Zip markdown docs
        run: |
          mkdir -p filen-cli-markdown-docs
          zip -j filen-cli-markdown-docs/filen-cli-$version-docs.zip filen-cli/filen-cli-markdown-docs/*.md

      # copy artifacts
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts
          merge-multiple: true
      - name: List artifacts
        run: ls -R artifacts

      # create release
      - name: Create GitHub Release with changelog and assets
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.FILEN_BOT_PAT }}
          repository: FilenCloudDienste/filen-cli-releases
          name: Filen CLI v${{ needs.tag.outputs.version }}
          tag_name: ${{ needs.tag.outputs.version }}
          files: |
            artifacts/**
            filen-cli-markdown-docs/**
          body_path: filen-cli/release_notes.md
          prerelease: true

      # push readme to filen-cli-releases
      - name: Copy Readme to target repository
        run: |
          git clone https://x-access-token:${{ secrets.FILEN_BOT_PAT }}@github.com/FilenCloudDienste/filen-cli-releases.git target-repo
          cp filen-cli/README.md target-repo/README.md
          cd target-repo
          git add README.md
          git config user.name "${{ env.FILEN_BOT_NAME }}"
          git config user.email "${{ env.FILEN_BOT_EMAIL }}"
          git commit -m "${{ format('release filen-cli v{0}', needs.tag.outputs.version) }}"
          git push origin main
        env:
          FILEN_BOT_NAME: filen-bot
          FILEN_BOT_EMAIL: 242448422+filen-bot@users.noreply.github.com
          # todo: make these repository env variables
        
      # push markdown docs to filen-docs
      - name: Copy markdown docs to target repository
        run: |
          git clone https://x-access-token:${{ secrets.FILEN_BOT_PAT }}@github.com/FilenCloudDienste/filen-docs.git target-repo
          rm target-repo/docs/cli-rs/*.md
          cp filen-cli/filen-cli-markdown-docs/*.md target-repo/docs/cli-rs/
          cp filen-cli/README-for-docs.md target-repo/docs/cli-rs/00-readme.md
          cd target-repo
          git add docs/cli-rs/*.md
          git config user.name "${{ env.FILEN_BOT_NAME }}"
          git config user.email "${{ env.FILEN_BOT_EMAIL }}"
          git commit -m "${{ format('update cli-rs docs for filen-cli v{0}', needs.tag.outputs.version) }}"
          git push origin main
        env:
          FILEN_BOT_NAME: filen-bot
          FILEN_BOT_EMAIL: 242448422+filen-bot@users.noreply.github.com
