name: Tests
on:
  # Run at 3 AM every day
  schedule:
    - cron: '0 3 * * *'

  # Allow manual triggering from GitHub UI
  workflow_dispatch:

  # Run on push if commit message contains [test]
  push:
    branches: [main]

  # Run on PR if title or description contains [test]
  pull_request:
    branches: [main]

jobs:
  test:
    if: |
      github.event_name == 'schedule' ||
      github.event_name == 'workflow_dispatch' ||
      contains(github.event.head_commit.message, '[test]') ||
      contains(github.event.pull_request.title, '[test]') ||
      contains(github.event.pull_request.body, '[test]')
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        version: [V1, V2, V3] # This remains to define which version of the secrets to use
    runs-on: ${{ matrix.os }}
    name: Test on ${{ matrix.os }} with version ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@1.89
      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-build-test-${{ matrix.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Install C++ Build Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake clang libc++-dev libc++abi-dev
      - name: Run tests
        run: cargo test --all-features
        env:
          TEST_EMAIL: ${{ secrets[format('{0}_TEST_ACC_EMAIL', matrix.version)] }}
          TEST_PASSWORD: ${{ secrets[format('{0}_TEST_ACC_PASS', matrix.version)] }}
          TEST_SHARE_EMAIL: ${{ secrets['V2_SHARE_ACC_EMAIL'] }}
          TEST_SHARE_PASSWORD: ${{ secrets['V2_SHARE_ACC_PASS'] }}
          RUST_LOG: trace
